.react-scheduler-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #dcdcdc;
  background-color: whitesmoke;
  height: 3rem;
}

.react-scheduler-toolbar > div {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0.3rem 0.5rem;
}

.react-scheduler-toolbar-text {
  justify-content: center;
  cursor: default;
  font-weight: bold;
  padding: 0.5rem;
}

.react-scheduler-toolbar-text > svg {
  padding: 0 0.5rem;
}

.react-scheduler-toolbar-view {
  justify-content: flex-end;
}

.react-scheduler-toolbar-view select {
  padding: 0.3rem;
  outline: none;
  border: none;
  background-color: gainsboro;
  border-radius: 5px;
}

.react-scheduler-toolbar-view select:hover {
  background-color: #e6e6e6;
}

.pointer {
  cursor: pointer;
}
