.react-scheduler-day {
  overflow: auto;
}

.react-scheduler-day .react-scheduler-view-cell:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}

.react-scheduler-day .react-scheduler-view-row {
  justify-content: left !important;
  width: fit-content;
}
